<header>
    <div id="block">
        <div style="padding: 10px;">
            <h2>Welcome Page</h2>
            by     <span>Eduardo Lopez Anta</span></span>
        </div>
    </div>
</header>

<h3>Add new contact</h3>

<div class="center">
    <form class="fill" name="newContactData">
        Name:
        <br/>
        <input class="input-normal" id="name" type="text" ng-model="name">
        <br/>
        <br/> Email:
        <br/>
        <input class="input-normal" id="email" type="text" ng-model="email">
        <br/>
        <br/> Phone Number:
        <br/>
        <input class="input-normal" id="phoneNumber" type="number" ng-model="phoneNumber">
        <br/>
        <br/>
        <input class="btn btn-primary" type="submit" value="Add Contact" ng-click="addContact();">
    </form>
</div>

<h3>List of contacts</h3>

<div class="center">
    <div id="contacts" ng-repeat="contact in contacts">
        <div id="block">
            <div style="padding: 10px;">
                <div><span class="list-post">Name: </span> {{contact.name}}</div>
                <div><span class="list-post">Email: </span> {{contact.email}}</div>
                <div><span class="list-post">Phone Number: </span> {{contact.phoneNumber}}</div>
                <br>
               <a href="#contacts/{{$index}}">Contact Detail</a>
            </div>
        </div>
    </div>
</div>
